.App {
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100vw;
}

.Container {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.Auth {
  color: green;
  font-weight: bold;
  font-size: 30px;
}
